<table>
  <thead>
    <tr>
      <th>Username</th>
      <td>Bikes</td>
      <% if current_biker.admin? %>
        <th>Active?</th>
        <th>Admin?</th>
        <th>Update</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @bikers.each do |biker| %>
      <tr>
        <td><%= link_to biker.username, biker_path(biker.username) %></td>
        <td>
          <% if biker.bikes.size > 0 %>
            <ul>
              <% biker.bikes.each do |bike| %>
                <li><%= link_to bike.name, bike_path(bike) %></li>
              <% end %>
            </ul>
          <% end %>
        </td>

        <% if current_biker.admin? %>
          <td><%= biker.active %></td>
          <td><%= biker.admin %></td>
          <td>
            <div>
              <% if biker.active %>
                <%= link_to 'Deactivate', biker_deactivate_path(biker), method: :patch %>
              <% else %>
                <%= link_to 'Activate', biker_activate_path(biker), method: :patch %>
              <% end %>
            </div>

            <div>
              <% if biker.admin %>
                <%= link_to 'Demote', biker_demote_path(biker), method: :patch %>
              <% else %>
                <%= link_to 'Promote', biker_promote_path(biker), method: :patch %>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
