<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Active?</th>
      <th>Admin?</th>
      <th>Update</th>
    </tr>
  </thead>

  <tbody>
    <% @bikers.each do |biker| %>
      <tr>
        <td><%= biker.username %></td>
        <td><%= biker.active %></td>
        <td><%= biker.admin %></td>
        <td>
          <% if biker.active %>
            <%= link_to 'Deactivate', biker_deactivate_path(biker), method: :patch %>
          <% else %>
            <%= link_to 'Activate', biker_activate_path(biker), method: :patch %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
