<!DOCTYPE html>
<html>
  <head>
    <title>Biker Link</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1><%= link_to 'Biker Link', root_path %></h1>

    <div class="strip">
      <div class="right">
        <%= render 'devise/shared/links' %>
      </div>

      <div> connecting riders online </div>
    </div>

    <%- if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <%- if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
